/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
    box-sizing: border-box;
  }


  /******************************************
  /* BASE STYLE
  /*******************************************/

  html, body {
    height: 100%;
  }

  body {
    background-color: #fefefe;
    color: #000;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.6em;
    position: relative;
  }

  a {
    text-decoration: none;
    color: white;
  }

  a:hover {
    text-decoration: underline;
  }

  .red {
    color: red;
  }

  .vibes {
    font-family: "Great Vibes", cursive;
    font-size: 30px;
    color: goldenrod;
    line-height: 1em;
  }
  
  /******************************************
  /* LAYOUT
  /*******************************************/
  .main {
    padding: 20px;
    height: 100vh;
    background-image: url("../img/wine3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    display: flex;
    align-items: center;
  }

  .main h1, .supplement h2 {
    font-size: 55px;
    line-height: 1em;
  }

  .main p {
    margin-bottom: 1em;
  }

  .main button, .supplement button {
    display: inline-block;
    margin-top: 1em;
    padding: 10px 15px;
    border: 1px solid goldenrod;
    border-radius: 5px;
    font-size: 14px;
    color: white;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.5s ease-out;
  }

  .main button:hover {
    box-shadow: 2px 2px 16px 2px goldenrod;
  }

  .supplement {
    padding: 20px;
    display: flex;
    align-items: center;
    height: 100vh;
    background-image: url(../img/wine4.jpg);
    width: 100%;
  }

  .supplement h2 {
    font-family: "Great Vibes", cursive;
    font-weight: 700;
  }

  .supplement button {
    margin-top: 2em;
    border: 2px solid red;
  }

  .supplement button:hover {
    box-shadow: 2px 4px 16px 4px rgba(255, 0, 0, 0.5);
  }

  .supplement a {
    color: #000;
  }

  .supplement a:hover {
    text-decoration: none;
  }

  .hidden {
    display: none;
    transition: all 2s ease-in-out;
  }

  @media screen and (min-width: 850px) {
    .main > div {
      max-width: 50%;
    }

    .main, .supplement {
      padding: 50px 100px;
    }
  }
  
  
  /******************************************
  /* ADDITIONAL STYLES
  /*******************************************/
  